{% extends "base.html" %}

{% block page_title %}Sign In To Your Account{% endblock page_title %}

{% block content %}
<section id="login">
    <div class="row justify-content-center">
        <div class="col-md-9 col-lg-7">
            <header class="pb-2">
                {% block title %}
                <h1><span class="heading">
                        Sign In To Your Account
                    </span></h1>
                {% endblock %}
            </header>
            <div>
                Quickly sign in using your registered <strong>username</strong> and <strong>password</strong> below.
            </div>
            {% include '_partial/login_form.html' %}
            <div class="pt-3">
                Having problem signing in?
                <div class="clearfix">
                    <a href="{% url 'password_reset' %}" class="btn btn-primary float-left">Reset Password</a>
                    <a href="{% url 'register' %}" class="btn btn-primary float-right">Create Account</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}