{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block page_title %}Reset Account Password{% endblock %}
{% block content %}
<section>
    <div class="row justify-content-center">
        <div class="col-md-9 col-lg-7">
            <header class="pb-2">
                {% block title %}
                <h1>
                    <span class="heading">
                        Reset Account Password
                    </span>
                </h1>
                {% endblock %}
            </header>
            <div>
                Enter a valid email you used in registering an account with us and we will email you instructions on how
                to reset your password.
            </div>
            <div>
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form-group col-12 mb-1">
                        {{ form.email|as_crispy_field }}
                    </div>
                    <div class="clearfix">
                        <a href="{% url 'login' %}" class="btn btn-primary float-left">Sign In</a>
                        <button type="submit" class="btn btn-success float-right">Reset Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}