{% extends 'base.html' %}

{% block content %}
    <tr> <td><a href="{% url 'index' %}" title="Computer Based Test">Home Page </a> </td>
    <td><a href="{% url 'login' %}" title="Login to account">Login to existing Account </a> </td>
    <td><a href="{% url 'register' %}" title="Register new account">New Account </a> </td>
    </tr>

<p>We have emailed you instructions on how to reset your password.
<br>If after few minutes and you still can't find it in your inbox, please check your Spam/Junk folder. If the later should be the case, please mark the message as "not spam" and add us to your contacts white list.<br><br>
If you have waited for sometime and still can't find the message in your inbox or spam folder, please check that you have entered a valid email.
</p>
    
    <tr> <td><a href="{% url 'index' %}" title="Computer Based Test">Home Page </a> </td>
    <td><a href="{% url 'login' %}" title="Login to account">Login to existing Account </a> </td>
    <td><a href="{% url 'register' %}" title="Register new account">New Account </a> </td>
    </tr>


{% endblock %}

