{% extends 'base.html' %}

{% block page_title %}Password Reset Email Sent{% endblock %}
{% block content %}
<section>
    <div class="row justify-content-center">
        <div class="col-md-9 col-lg-7">
            <header class="pb-2">
                {% block title %}
                <h1><span class="heading">
                        Password Reset Email Sent!
                    </span></h1>
                {% endblock %}
            </header>
            <div class="pb-3">
                We have emailed you instructions on how to reset your password.
                <br>
                If after few minutes and you still can't find it in your inbox, please check your Spam/Junk folder. If the later should be the case, please mark the message as "not spam" and add us to your contacts white list.<br><br>
                
                If you have waited for sometime and still can't find the message in your inbox or spam folder, please check that you have entered a valid email.
            </div>
            <div class="clearfix">
                <a href="{% url 'register' %}" class="btn btn-primary float-left">New Account</a>
                <a href="{% url 'index' %}" class="btn btn-success float-right">Home</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}