{% extends 'base.html' %}

{% block content %}
    <tr> <td><a href="{% url 'index' %}" title="Computer Based Test">Home Page </a> </td>
    <td><a href="{% url 'login' %}" title="Login to account">Login to existing Account </a> </td>
    <td><a href="{% url 'register' %}" title="Register new account">New Account </a> </td>
    </tr>

{% if validlink %}
    <p>Please enter and confirm your new password.</p>
    <form action="" method="POST">
        <div style="display:None">
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
        </div>
        
        <table>
            <tr>
            <td>{{ form.new_password1.errors }}
            <label for="id_new_password1">New Password:</label></td>
            <td>{{ form.new_password1 }}</td>
            </tr>
            
            <tr>
            <td>{{ form.new_password2.errors }}
            <label for="id_new_password2">Confirm Password:</label></td>
            <td>{{ form.new_password2 }}</td>
            </tr>
            
            <tr>
            <td></td>
            <td><input type="submit" value="Change Password" /></td>
            </tr>
        </table>
    </form>
    
{% else %}
    <h1>Password reset failed.</h1><br>
    <p>The password reset link is invalid. It is either the link is used or that it has expired.<br>
    Please reqeust a new <a href="{{ url 'password_reset' }}" title="Reset Password">password reset</a> link.

{% endif %}
    <tr> <td><a href="{% url 'index' %}" title="Computer Based Test">Home Page </a> </td>
    <td><a href="{% url 'login' %}" title="Login to account">Login to existing Account </a> </td>
    <td><a href="{% url 'register' %}" title="Register new account">New Account </a> </td>
    </tr>

{% endblock %}