{% extends 'base.html' %}

{% block content %}
<a href="{% url 'login' %}" title="Back to login page"><-- back to login</a><br>

<form action="" method="POST">
    {% csrf_token %}
    {% if form.email.errors %}
        {{ form.email.errors }}
    {% endif %}
    <p>Enter a valid email you used in registering an account with us and we will email you instructions on how to reset your password.</p>
    <p>{{ form.email.label_tag}}  {{ form.email }}</p>
    
    <input type="submit" class="btn btn-default btn-lg" value="Reset password" />
    
    </form>

<p>You can <a href="{% url 'register' %}" title="Register new account">Register </a>new account if you don't have an account prior to now. Or continue as guest at the <a href="{% url 'index' %}" title="Home Page">Home Page</a>.

{% endblock %}

