{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block page_title %}Add New Question(s){% endblock %}

{% block content %}

<div class="row">
    <div class="col-12">
        <header class="pb-5">
            {% block title %}
            <h1><span class="heading">
                Add New Question(s)
            </span></h1>
            {% endblock %}
        </header>
        <div class="pb-3">
            You are about to add <strong>{{ formset.total_form_count }} question(s)</strong> to the course: <strong>{{ course }}, {{ course.get_semester_display }} {{ course.get_level_display }}</strong>.
        </div>
        <form action="" method="post">
            {% csrf_token %}
            {{ formset.management_form }}

            <div class="row">
            {% for form in formset %}
                <div class="form-group col-lg-6 mb-2 pb-5">
                    <h4>Question {{ forloop.counter }}</h4>
                    {{ form|crispy }}
                </div>
            {% endfor %}
            </div>

            <div class="clearfix">
                <a href="{% url 'index' %}" class="btn btn-danger float-left">Cancel</a>
                <button type="submit" class="btn btn-success float-right">Proceed</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
