{% extends "base.html" %}

{% block page_title %}Computer Based Test {% endblock %}

{% block content %}
<header class="pb-2">
    {% block title %}
    <h1> <span class="heading">Welcome To CBTest</span></h1>
    {% endblock title %}
    {% block sub_title %}
    <h3 class="sub-heading">Register Courses, Take Exams, See Your Results and Much More...</h3>
    {% endblock sub_title %}
</header>
<div>
    <p>Welcome to computer based test. Right here you find solutions to problems of manual examiniations and how we
        can use computers to solve them effectively, efficiently, and effortlessly.</p>

    <p>
        Below are few ways we can help you achieve what you want:
        <div class="pb-5">
            <h4><span class="emphasis">Access Your Account</span></h4>
            <span class="detail">
                With Computer Based Test System, you can access your account at any time you
                want.
                {% if request.user.is_authenticated %}
                In your portal, you can
                <a href="{% url 'edit_profile' pk=request.user.pk username=request.user.username %}"
                    title="Edit Student Details"> change
                    your details</a> (password, email, etc.), edit
                <a href="{% url 'edit_profile' pk=request.user.pk username=request.user.username %}"
                    title="Edit Sponsor Details"> Sponsor
                    details</a>,
                <a href="{% url 'edit_profile' pk=request.user.pk username=request.user.username %}"
                    title="Edit Kin Details"> Next of Kin
                    details</a>, and or your
                <a href="{% url 'edit_profile' pk=request.user.pk username=request.user.username %}"
                    title="Edit Programme Details">
                    Programme details</a>.
            <a class="btn btn-primary btn-sm" href="{% url 'profile' pk=request.user.pk username=request.user.username %}"
                title="View Your Profile">Access Profile</a>
                {% else %}
                Just <a href="{% url 'login' %}">Sign In</a> and get access to view your <strong>Profile</strong>, modify; <strong>Kin, Sponsor and Programme</strong> details.
            <a class="btn btn-primary btn-sm" href="{% url 'login' %}"
                title="Sign In To View Your Profile">Sign In</a>
                {% endif %}
            </span>
        </div>

        <div class="pb-5">
            <h4><span class="emphasis">Take an Examination</span></h4>
            <span class="detail">
                You can take advantage of our robust examination system in the most convenient
                way to showcase what you have learn't over the time in taking one or any number of examiniations that
                you have permissions to participate in. The system stays out of your way and ensures you get the most
                efficient experience thereby giving you the opportunity to choose as best as you can and likewise
                ensuring you score your best in any exam.
            </span>
            <br>Please always use this demo token <kbd>"ODfFF2r2IQ"</kbd> to gain access to exams page...
            <br>You will have to <a href="{% url 'register_course' %}" title="Register Courses">register your
                courses </a>before you can take the exams.
            <a class="btn btn-primary btn-sm" href="{% url 'choose_question' %}" title="Take Exam">
                Access Exams
            </a>
        </div>

        <div class="pb-3">
            <h4><span class="emphasis">Check Your Result</span></h4>
            <span class="detail">
                It is no easy task for anybody having to wait for who knows when to be able to
                access your results after writing an examination. But with our robust Computer Based Test system, you
                don't have to wait any longer. You can simply login to your portal and view any of your results at any
                point in time as long as the you currently have permissions to execute such tasks.
            </span>
            Below are few ways you can access your results;
            <ul>
                <li class="pb-3">
                    <h5 class="sub-emphasis">Semester Result</h5>
                    You view your result for each semester by selecting the level and the semester and your result will
                    be generated for you instantly.
                    <a class="btn btn-success btn-sm" href="{% url 'show_semester_result' %}" title="Check Semester Result">
                        Access Semester Result
                    </a>
                </li>

                <li class="pb-3">
                    <h5 class="sub-emphasis">Course Result</h5>
                    You view the result of each Course Examination you have taken by selecting the Level, Semester and
                    the Course and your result will be generated for you instantly.
                    <a class="btn btn-success btn-sm" href="{% url 'show_course_result' %}" title="Check Course Result">
                        Access Course Result
                    </a>
                </li>

                <li class="pb-3">
                    <h5 class="sub-emphasis">Level/Session Result</h5>
                    You will be able to view the over all result of a given Level or Session by selecting the desired
                    level. This result will combine both the First Semester and Second Semester results to compute the
                    final result for the given Level or Session. The CGPA is calculated with each semester having its
                    own GPA.
                    <a class="btn btn-success btn-sm" href="{% url 'choose_level_result' %}" title="Check Level Result">
                        Access Level Result
                    </a>
                </li>
            </ul>
        </div>
    </p>
    <div class="help">
        Still looking for something not covered above? The
        <a href="{% url 'faq' %}">
            <abbr title="Frequently Asked Questions">FAQ</abbr>
        </a> page will most likely have answers to your questions.<br>
    </div>
</div>
{% endblock %}