{% extends "base.html" %}

{% block page_title %}Mark Answers {% endblock %}

{% block title %}Marked Answers {% endblock %}
{% block sub_title %} Marked Students' Answers {% endblock %}

{% block content %}
<div class="details">
    <p class="note">Here is the breakdown of users and their individual scores in <span class="emphasis">{{ ans.course }}</span></p>
</div>
<table>
    <thead>
        <tr> <td>Student</td> <td>Course Title</td> <td>Score</td> <td>Grade</td> </tr>
    </thead>
    <tbody>
    {% for c in cr %}
        <tr> <td>{{ c.user }}</td> <td>{{ c.course }}</td> <td>{{ c.score }}</td> <td>{{ c.grade }}</td> </tr>
    {% endfor %}
    </tbody>
</table>
<p>Total students scores for <span class="emphasis">{{ ans.course }}</span> for <span class="emphasis">{{ ans.get_semester_display }} {{ ans.get_level_display }}</span> is: <span class="emphasis">{{ score }}</span></p>

<div class="details">
    <p class="note">
        Done with marking answers, please take time to explore other wealth of options on the <a href="{% url 'index' %}" title="Computer Based Test">Home Page</a>.
    </p>
</div>
{% endblock %}