{% extends "base.html" %}

{% block page_title %}Student Biodata {% endblock %}

{% block title %}Student Data {% endblock %}
{% block sub_title %}Student Biodata {% endblock %}

{% block content %}

{% if perm is False %}
<div class="details">
    <p class="warning">You are not permited to view another Student's Profile.</p>
    However, You can, <a href="{% url 'profile' username=request.user.id %}" title="View Profile">View your own Profile</a> or check other options on the <a href="{% url 'index' %}" title="Computer Based Test">Home Page</a>.
</div>

{% else %}
<div>
<h2>Student Personal Information <span class="edit-others"><a href="{% url 'edit_profile' username=request.user.id t=1 %}" title="Edit Student Details"> Edit</a></span></h2>
<hr>
<div class="p-pics"><img src="{{ user.pictures.url }}" alt="Profile Picture" width="120px" height="120px"><div class="img-text">Student Passport</div></div>
<table>

{% if user.user.username %}
<tr> <td>Username:</td> <td>{{ user.user.username }}</td> </tr>
{% endif %}

{% if user.user.last_name %}
<tr> <td>Surname:</td> <td>{{ user.user.last_name }}</td> </tr>
{% endif %}

{% if user.user.first_name %}
<tr> <td>First Name:</td> <td>{{ user.user.first_name }}</td> </tr>
{% endif %}

{% if user.middle_name %}
<tr> <td>Middle Name:</td> <td>{{ user.middle_name }}</td> </tr>
{% endif %}

{% if user.birth_date %}
<tr> <td>Birth Date:</td> <td>{{ user.birth_date }}</td> </tr>
{% endif %}

{% if user.email %}
<tr> <td>Email:</td> <td>{{ user.email }}</td> </tr>
{% endif %}

{% if user.gender %}
<tr> <td>Gender:</td> <td>{{ user.get_gender_display }}</td> </tr>
{% endif %}

{% if user.status %}
<tr> <td>Marital Status:</td> <td>{{ user.get_status_display }}</td> </tr>
{% endif %}

{% if user.religion %}
<tr> <td>Religion:</td> <td>{{ user.get_religion_display }}</td> </tr>
{% endif %}

{% if user.state %}
<tr> <td>State of Birth:</td> <td>{{ user.state }}</td> </tr>
{% endif %}

{% if user.lga %}
<tr> <td>L.G.A:</td> <td>{{ user.lga }}</td> </tr>
{% endif %}

{% if user.home_town %}
<tr> <td>Home Town:</td> <td>{{ user.home_town }}</td> </tr>
{% endif %}

{% if user.perm_address %}
<tr> <td>Permanent Address:</td> <td>{{ user.perm_address }}</td> </tr>
{% endif %}

{% if user.phone %}
<tr> <td>Phone:</td> <td>{{ user.phone }}</td> </tr>
{% endif %}

{% if user.contact_address %}
<tr> <td>Contact Address:</td> <td>{{ user.contact_address }}</td> </tr>
{% endif %}

{% if user.blood_group %}
<tr> <td>Blood Group:</td> <td>{{ user.blood_group }}</td> </tr>
{% endif %}

{% if user.genotype %}
<tr> <td>Genotype:</td> <td>{{ user.genotype }}</td> </tr>
{% endif %}

{% if user.signature %}
<tr> <td>Signature:</td> <td>{{ user.signature }}</td> </tr>
{% endif %}

{% if user.pictures %}
<tr> <td>Profile Picture:</td> <td>{{ user.pictures }}</td> </tr>
{% endif %}

{% if user.last_modified %}
<tr> <td>Last Modified:</td> <td>{{ user.last_modified }}</td> </tr>
{% endif %}
</table>
</div> 

<div>
<hr>
<h2>Sponsor and Next of Kin's Details <span class="edit-others"><a href="{% url 'edit_profile' username=request.user.id t=2 %}" title="Edit Sponsor Details">Edit Sponsor</a> or <a href="{% url 'edit_profile' username=request.user.id t=3 %}" title="Edit Kin Details">Edit Kin</a></span></h2>
<hr><hr>
<table>
    <thead>
        <tr><th colspan="2">Sponsor's Details</th> <th colspan="2">Next of Kin's Details</th> </tr>
    </thead>
    <tbody>
        <tr> <td>Name: </td> <td>{{ sponsor.name }}</td> <td>Name: </td> <td>{{ kin.name }}</td> </tr>
        <tr> <td>Address: </td> <td>{{ sponsor.address }}</td> <td>Address: </td> <td>{{ kin.address }}</td> </tr>
        <tr> <td>Relationship: </td> <td>{{ sponsor.get_relationship_display }}</td> <td>Relationship: </td> <td>{{ kin.get_relationship_display }}</td> </tr>
        <tr> <td>Phone: </td> <td>{{ sponsor.phone }}</td> <td>Phone: </td> <td>{{ kin.phone }}</td> </tr>
        <tr> <td>Email: </td> <td>{{ sponsor.email }}</td> <td>Email: </td> <td>{{ kin.email }}</td> </tr>
    </tbody>
</table>
</div>


<div>
<hr>
<h2>Programme Details <span class="edit-others"><a href="{% url 'edit_profile' username=request.user.id t=4 %}" title="Edit Programme Details">Edit</a></span></h2>
<hr><hr>
<table>
    <tr> <td>Department: </td> <td>{{ programme.department }}</td> <td>Mode of Entry: </td> <td>{{ programme.get_entry_mode_display }}</td> </tr>
    <tr> <td>Student Type: </td> <td>{{ programme.get_student_type_display }}</td> <td>Mode of Study: </td> <td>{{ programme.get_study_mode_display }}</td> </tr>
    <tr> <td>Programme: </td> <td>{{ programme.get_programme_display }}</td> <td>Entry Year: </td> <td>{{ programme.entry_year }}</td> </tr>
    <tr> <td>Reg. No: </td> <td>{{ programme.reg_no }}</td> <td>Year of Graduation: </td> <td>{{ programme.graduation_year }}</td> </tr>
    <tr> <td>JAMB Reg. No: </td> <td>{{ programme.jamb_no }}</td> <td>Year of Study: </td> <td>{{ programme.get_level_display }}</td> </tr>
    <tr> <td>Student Mode: </td> <td>{{ programme.get_student_mode_display }}</td> <td></td> <td></td> </tr>
</table>
</div>

{% endif %}

{% endblock %}