{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block page_title %}Take Examination{% endblock %}

{% block content %}
<header class="pb-2">
    {% block title %}<h1> <span class="heading">Take Examination</span></h1>{% endblock %}
    {% block sub_title %}<h3 class="sub-heading">Answer Correctly the Questions</h3>
    {% endblock %}
</header>
<div class="details">
    <p class="note">Please ensure you choose your answers <span class="emphasis">correctly</span> as any wrong choice can not be <span class="emphasis">reversed</span> after <span class="emphasis">Submission</span>.</p>
</div>
<div id="exam" class="examination">
    <form action="" method="POST">
        {% csrf_token %}
        {{ formset.management_form }}
        {% for form, q in f_q %}

        <div class="pb-5">
            <div class="question card bg-light">
                {% if form.errors %}
                {{ form.errors }}
                {% endif %}
                <div class="description pl-2">
                    {{ forloop.counter }}.&nbsp;&nbsp;{{ q.detail }}
                </div>
                <input type="hidden" name="form-{{ forloop.counter0 }}-id" id="id_form-{{ forloop.counter0 }}-id">
                <input type="hidden" name="form-{{ forloop.counter0 }}-question"
                    id="id_form-{{ forloop.counter0 }}-question" value="{{ q.id }}">

                <input type="hidden" name="form-{{ forloop.counter0 }}-answered_by" min="0"
                    id="id_form-{{ forloop.counter0 }}-answered_by" value="{{ request.user.id }}">

                <input type="hidden" name="form-{{ forloop.counter0 }}-course" min="0"
                    id="id_form-{{ forloop.counter0 }}-course" value="{{ q.course.id }}">

                <input type="hidden" name="form-{{ forloop.counter0 }}-semester" min="0"
                    id="id_form-{{ forloop.counter0 }}-semester" value="{{ q.semester }}">

                <input type="hidden" name="form-{{ forloop.counter0 }}-level" min="0"
                    id="id_form-{{ forloop.counter0 }}-level" value="{{ q.level }}">
                
                <div class="pl-5">
                    <div class="form-check">
                        <label class="form-check-label normal-label">
                            <input type="radio" class="form-check-input" name="form-{{ forloop.counter0 }}-user_answer"
                                id="id_form-{{ forloop.counter0 }}-user_answer" value="1">{{ q.option1 }}
                        </label>
                    </div>

                    <div class="form-check">
                        <label class="form-check-label normal-label">
                            <input type="radio" class="form-check-input" name="form-{{ forloop.counter0 }}-user_answer"
                                id="id_form-{{ forloop.counter0 }}-user_answer" value="2">{{ q.option2 }}
                        </label>
                    </div>

                    {% if q.option3 %}
                    <div class="form-check">
                        <label class="form-check-label normal-label">
                            <input type="radio" class="form-check-input" name="form-{{ forloop.counter0 }}-user_answer"
                                id="id_form-{{ forloop.counter0 }}-user_answer" value="3">{{ q.option3 }}
                        </label>
                    </div>
                    {% endif %}

                    {% if q.option4 %}
                    <div class="form-check">
                        <label class="form-check-label normal-label">
                            <input type="radio" class="form-check-input" name="form-{{ forloop.counter0 }}-user_answer"
                                id="id_form-{{ forloop.counter0 }}-user_answer" value="4">{{ q.option4 }}
                        </label>
                    </div>
                    {% endif %}

                    {% if q.option5 %}
                    <div class="form-check">
                        <label class="form-check-label normal-label">
                            <input type="radio" class="form-check-input" name="form-{{ forloop.counter0 }}-user_answer"
                                id="id_form-{{ forloop.counter0 }}-user_answer" value="5">{{ q.option5 }}
                        </label>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="pb-2">
            <div class="bg-info p-3">
                Please make sure you have <strong><em>reviewed</em></strong> all your <strong><em>answers</em></strong> before <strong><em>submitting</em></strong>.
            </div>
            <div class="bg-warning p-3">
                Click <strong><em>Reset Answers</em></strong> button below to clear all the choices, options you have selected and start afresh.
            </div>
        </div>
        <div class="clearfix">
            <input type="reset" class="btn btn-danger float-left" value="Reset Answers" title="Warning! This will clear all the choices you have have made so far.">
            <button type="submit" class="btn btn-success float-right">Submit</button>
        </div>
    </form>
</div>

{% endblock %}