{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block page_title %}Take Examination{% endblock %}

{% block content %}
<header class="pb-2" xmlns="http://www.w3.org/1999/html">
    {% block title %}<h1> <span class="heading">Take Examination</span></h1>{% endblock %}
    {% block sub_title %}<h3 class="sub-heading">Answer Correctly the Questions</h3>
    {% endblock %}

    <p id="timer" style="text-align: center; font-size: 60px; font-weight: bolder; text-align: right; margin-top: 0px;"></p>

  <script>
    // Get current time and set and time.
    let startTime = new Date();
    let endTime = startTime.setHours(startTime.getHours() + 1 );

    // Update the count down every 1 second
    let x = setInterval(function() {
        // Get today's date and time
        let now = new Date();
            
        // Find the remaining time.
        let distance = endTime - now;
            
        // Calculate time left for examination.
        let timeLeft = new Date(distance);
            
        // Display the time left for examination.
        document.getElementById("timer").innerHTML = timeLeft.getHours() + "h " + timeLeft.getMinutes() + "m " + timeLeft.getSeconds() + "s";

        // Check time left and change timer colour accordingly.
        if (timeLeft.getHours() < 0 && timeLeft.getMinutes() < 5) {
            // If exam time is less than 5 Minutes change timer to red colour.
            document.getElementById("timer").style.color = "red";
        } else if (timeLeft.getHours() < 0 && timeLeft.getMinutes() < 15) {
            // If exam time is less than 15 Minutes change timer to yellow colour.
            document.getElementById("timer").style.color = "yellow";
            document.getElementById("timer").style.background = "#325feb";
        } else if (timeLeft.getHours() < 0 && timeLeft.getMinutes() < 30) {
            // If exam time is less than 30 Minutes change timer to blue colour.
            document.getElementById("timer").style.color = "blue";
        } else {
            // Set the normal timer colour to green.
            document.getElementById("timer").style.color = "green";
        };

        // If exam time is over, automatically submit.
        if (timeLeft.getHours() < 1 && timeLeft.getMinutes() < 1 && timeLeft.getSeconds() < 1) {
            clearInterval(x);
            document.getElementsByTagName("form")[0].submit();
        }
    }, 1000);
  </script>
</header>

<div class="details">
    <p class="note">Please ensure you choose your answers <span class="emphasis">correctly</span> as any wrong choice can not be <span class="emphasis">reversed</span> after <span class="emphasis">Submission</span>.</p>
</div>
<div id="exam" class="examination">
    <form action="" method="POST">
        {% csrf_token %}
        {{ formset.management_form }}
        {% for form, q in f_q %}

        <div class="pb-5">
            <div class="question card bg-light">
                {% if form.errors %}
                {{ form.errors }}
                {% endif %}
                <div class="description pl-2">
                    {{ forloop.counter }}.&nbsp;&nbsp;{{ q.detail }}
                </div>
                <input type="hidden" name="form-{{ forloop.counter0 }}-id" id="id_form-{{ forloop.counter0 }}-id">
                <input type="hidden" name="form-{{ forloop.counter0 }}-question"
                    id="id_form-{{ forloop.counter0 }}-question" value="{{ q.id }}">

                <input type="hidden" name="form-{{ forloop.counter0 }}-answered_by" min="0"
                    id="id_form-{{ forloop.counter0 }}-answered_by" value="{{ request.user.id }}">

                <input type="hidden" name="form-{{ forloop.counter0 }}-course" min="0"
                    id="id_form-{{ forloop.counter0 }}-course" value="{{ q.course.id }}">

                <input type="hidden" name="form-{{ forloop.counter0 }}-term" min="0"
                    id="id_form-{{ forloop.counter0 }}-term" value="{{ q.term }}">

                <input type="hidden" name="form-{{ forloop.counter0 }}-level" min="0"
                    id="id_form-{{ forloop.counter0 }}-level" value="{{ q.level }}">
                
                <div class="pl-5">
                    <div class="form-check">
                        <label class="form-check-label normal-label">
                            <input type="radio" class="form-check-input" name="form-{{ forloop.counter0 }}-user_answer"
                                id="id_form-{{ forloop.counter0 }}-user_answer" value="1">{{ q.option1 }}
                        </label>
                    </div>

                    <div class="form-check">
                        <label class="form-check-label normal-label">
                            <input type="radio" class="form-check-input" name="form-{{ forloop.counter0 }}-user_answer"
                                id="id_form-{{ forloop.counter0 }}-user_answer" value="2">{{ q.option2 }}
                        </label>
                    </div>

                    {% if q.option3 %}
                    <div class="form-check">
                        <label class="form-check-label normal-label">
                            <input type="radio" class="form-check-input" name="form-{{ forloop.counter0 }}-user_answer"
                                id="id_form-{{ forloop.counter0 }}-user_answer" value="3">{{ q.option3 }}
                        </label>
                    </div>
                    {% endif %}

                    {% if q.option4 %}
                    <div class="form-check">
                        <label class="form-check-label normal-label">
                            <input type="radio" class="form-check-input" name="form-{{ forloop.counter0 }}-user_answer"
                                id="id_form-{{ forloop.counter0 }}-user_answer" value="4">{{ q.option4 }}
                        </label>
                    </div>
                    {% endif %}

                    {% if q.option5 %}
                    <div class="form-check">
                        <label class="form-check-label normal-label">
                            <input type="radio" class="form-check-input" name="form-{{ forloop.counter0 }}-user_answer"
                                id="id_form-{{ forloop.counter0 }}-user_answer" value="5">{{ q.option5 }}
                        </label>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="pb-2">
            <div class="bg-info p-3">
                Please make sure you have <strong><em>reviewed</em></strong> all your <strong><em>answers</em></strong> before <strong><em>submitting</em></strong>.
            </div>
            <div class="bg-warning p-3">
                Click <strong><em>Reset Answers</em></strong> button below to clear all the choices, options you have selected and start afresh.
            </div>
        </div>
        <div class="clearfix">
            <input type="reset" class="btn btn-danger float-left" value="Reset Answers" title="Warning! This will clear all the choices you have have made so far.">
            <button type="submit" class="btn btn-success float-right">Submit</button>
        </div>
    </form>
</div>
{% endblock %}
