{% extends "base.html" %}

{% block page_title %}Create New Account {% endblock %}

{% block title %}Create New Account {% endblock %}
{% block sub_title %}Please input your details correctly to create your account {% endblock %}

{% block content %}

<a href="{% url 'login' %}" title="Login to your Account">Login instead</a><br>

<p>Please fill the form with correct details to create your profile.</p>

<form action='' method="POST">
    {% csrf_token %}
    <table>
            {% if form.non_field_errors %}
                <tr><td>{{ form.non_field_errors }}</td></tr>
            {% endif %}
            {% for field in form.visible_fields %}
            <div class="fieldWrapper">
                {% if field.errors %}
                <tr><td>{{ field.errors }}</td></tr>
                {% endif %}
                <tr> <td>{{ field.label_tag }}</td> <td>{{ field }}</td> </tr>
                {% if field.help_text %}
                <tr><td></td><td>{{ field.help_text|safe }}</td> </tr>
                {% endif %}
            </div>
            {% endfor %}
        </table> 
    
    <br><input type=submit value='Create User'> or <input type=reset value='Reset'> 
</form>

<p>Already has an account? <a href="{% url 'login' %}" title="Login to your Account">Login</a> Or <a href="{% url 'index' %}" title="Computer Based Test">Continue without login</a><br> </p>

{% endblock %}