{% extends "base.html" %}

{% block page_title %}Suspecious Request{% endblock %}

{% block content %}
<section>
    <div class="row justify-content-center">
        <div class="col-md-9 col-lg-7">
            <header class="pb-2">
                {% block title %}
                <h1>
                    <span class="heading">
                        Suspecious Request Detected!
                    </span>
                </h1>
                {% endblock %}
            </header>
            <div>
                We can't verify that your request is genuine.It appears suspicious to us and we can't honour that request. <br>
                Please re-evaluate and then try again.<br><br>

                To get going immediately, please visit the <a href="{% url 'index' %}" class="btn btn-success btn-sm" title="Computer Based Test">Home Page</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}