{% extends "base.html" %}

{% block page_title %}Permission Denied{% endblock %}

{% block content %}
<section>
    <div class="row justify-content-center">
        <div class="col-md-9 col-lg-7">
            <header class="pb-2">
                {% block title %}
                <h1>
                    <span class="heading">
                        Permission Denied
                    </span>
                </h1>
                {% endblock %}
            </header>
            <div>
                You can't continue because you you lack necessary permission(s). Please only request for things which
                you were granted access.<br><br>

                With that made known, you can access the <a href="{% url 'index' %}" class="btn btn-success btn-sm" title="Computer Based Test">Home Page</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}