/* Ruleset for every element onn the page. */
* {
    box-sizing: border-box;
}

/* Rules for the body element. */
body {
    background-color: rgb(50, 95, 235);
    color: azure;
    padding: 0;
    margin: 0;
}

/* Rules for the main content of the page. */
#content {
    background-color: white;
    color: black;
}

/* Rules for the side bar. */
#menu {
    background-color: rgb(45, 149, 235);
}

/* Rules for the side bar links. */
aside a, aside a:visited, aside a:hover, aside a:active {
    color: white;
    text-decoration: none;
}

/* Rules for the side bar un-ordered lists. */
aside ul {
    list-style: none;
    padding: 0;
}

#profileLinks,
#tokenLinks, #resultLinks, #courseLinks {
    background-color: rgb(45, 149, 235);
    border: none;
}

/* Rules for the Top Nav Bar and footer elements. */
#topNav,
footer {
    background-color: #325feb;
}

/* Rules for the footer element. */
footer {
    min-height: 80px;
}

/* Rules for the footer link elements.*/
footer a, footer a:active {
    color: #08f53d;
}
footer a:visited, footer a:hover {
    color: #ffc107;
}

/* Rules for the main heading.*/
h1, h2, h3 {
    text-align: center;
}

h1 span.heading {
    border-bottom: 1.5px solid lightgray;
}

/* Rules for the heading elements. */
h1, h2, h3, h4, h5, h6 {
    color: #2d95eb;
}

/* clear fix for floated elements. */
.clearfix {
    clear: both;
}

/* Add 10px to all sides of an element. */
.pd-1 {
    padding: 10px !important;
}

/* Add 20px to all sides of an element. */
.pd-2 {
    padding: 20px !important;
}

/* Add 10px to top and bottom sides of an element. */
.pd-tb-1 {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

/* Add 10px to left and right sides of an element. */
.pd-lr-1 {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

/* Add 20px to top and bottom sides of an element. */
.pd-tb-2 {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

/* Add 20px to left and right sides of an element. */
.pd-lr-2 {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

/* Line divider for sections. */
#divider {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 2px solid azure;
}

/* Hide the toggle side menu button by default. */
.hide-small {
    visibility: hidden;
}

/* Container element for the toggle side bar button. */
.toggle-container {
    position: relative;
    float: right;
}

/* Button to toggle side bar. */
#toggleSideBar {
    background-color: #325feb;
    padding: 5px;
    font-size: x-large;
}

/* Make all lables bold by default. */
label {
    font-weight: bold;
}

/* Highlight asterisks on input lables to show it's a required field. */
.asteriskField {
    color: red;
}

/* Style question and descriptions appropriately. */
.question .description {
    font-size: 20px;
    font-weight: bold;
    color: rgb(45, 149, 235);
}

/* Forces lables to be normal font. */
.normal-label {
    font-weight: normal!important;
}

/* Styles for medium sized screens and above. */
@media (min-width:576px) {
    #content {
        margin-left: 300px;
        background-color: white;
        color: black;
        min-height: 600px;
    }

    #menu {
        position: sticky;
        top: 66px;
        width: 300px;
        background-color: rgb(45, 149, 235);
        min-height: 400px;
        float: left;
    }

    /* Show toggle side bar button for medium sized devices. */
    .hide-small {
        visibility: visible;
    }
}